$screen-sizes: (
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1240px
);

$container-sizes: (
  'sm': 540px,
  'md': 720px,
  'lg': 992px,
  'xl': 1190px
);

$font-family-body: 'Open Sans', sans-serif;
$font-family-heading: 'Lato', sans-serif;

$base-font-size: 16px;
$base-line-height: 1.75;

$primary-color: rgb(255, 128, 0);
$background-color: rgb(245, 245, 245);
$divider-color: rgb(220, 220, 220);

$max-navbar-height: 64px;
$drawer-width: 240px;