@import './typography';
@import './utils';

html,
body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
}

@import './site/site-header';
@import './site/site-navbar';
@import './site/menu-wrap';
@import './site/site-section';

#masthead {
  background-image: url('/public/img/spotlight.jpg');
}

@import './site/masthead-content';
@import './site/button';
@import './site/grid';
@import './site/feature';

#feature-1-img {
  float: left;
  width: 100%;

  @include on-screen-size-beyond(md) {
    float: right;
    max-height: 420px;
    width: auto;
  }
}

#contact-us {
  background-image: url('/public/img/contact-phone.jpg');
}

@import './site/contact-form';
@import './site/site-footer';