@import './typography';
@import './utils';

html,
body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import './site/site-header';
@import './site/site-navbar';
@import './site/menu-wrap';